{% extends 'links/form_main.html'%} {%load static%} {% block content %}
<div class="form-container">
  <h2 class="text-center mb-4">{{title}}</h2>
  <p class="text-center">Press CTRL and click the tags to select it</p>
  <form action="" method="POST">
    {% csrf_token %} {% for field in form %} {% if not field.is_hidden %}
    <div class="form-group">
      {{ field.label_tag }} {{ field }} {% if field.errors %}
      <div class="text-danger">{{ field.errors }}</div>
      {% endif %}
    </div>
    {% endif %} {% endfor %} {% for message in messages %}
    <div class="text-danger">{{message}}</div>
    {% endfor %}
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
